<div [className]="'outer'">
    <div [className]="'inner'">
        <table>
            <tr>
                <td>
                    <span [className]="'company-name'">JBMG Limited</span>
                </td>
                <td>
                    <div [className]="'rounded-back'">
                        <table>
                            <tr>
                                <td></td>
                                <td><input placeholder="search here..." [(ngModel)]="searchText" [className]="'search-box'" (keyup)="onKey($event)"></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div>
    <ul>
        <li *ngFor="let book of books | filter : searchText">
            {{book.title}}
        </li>
    </ul>
</div>